<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="textoCambiarContraseña">{{data.cambioContraseña}}</h1>
    <div class="register2">
        <form method="POST" action="{{ url_for('cambiar_contraseña') }}">
            <p class="textoerror2">{{ data.error }}</p>
            <p class="texto4">{{data.usuarioContraseña}}</p>
            <input class="escribirtexto" type="text" name="usuario" required>
            <p class="texto4">{{data.nuevaContraseña}}</p>
            <input class="escribirtexto" type="password" name="nueva_contraseña" required>
            <p class="texto4">{{data.repetirNuevaContraseña}}</p>
            <input class="escribirtexto" type="password" name="repetir_contraseña" required>
            <button class="enviar" onclick="validatePasswords(event)">{{data.cambiarContraseña}}</button>
        </form>
        <p id="passwordError" style="display:none; color:red;">Las contraseñas no coinciden.</p>
    </div>
    <script>
        function validatePasswords(event) {
            var password = document.getElementsByName('nueva_contraseña')[0].value;
            var confirmPassword = document.getElementsByName('repetir_contraseña')[0].value;

            if (password !== confirmPassword) {
                event.preventDefault();
                document.getElementById('passwordError').style.display = 'block';
            }
        }
    </script>
</body>
</html>
