<footer>
    <div class="footer-container">
        <div class="footer-section" id="weather-section">
            <h3>{{data.tempsF}}</h3>
            <p id="weather"></p>
        </div>
        <div class="footer-section">
            <h3>{{data.sobreF}}</h3>
            <p>{{data.texF}}</p>
        </div>
        <div class="footer-section">
            <h3>{{data.enllaçosF}}</h3>
            <ul>
                <li><a href="{{ url_for('index')}}">{{data.iniciF}}</a></li>
                <li><a href="{{ url_for('escola')}}">{{data.escolaF}}</a></li>
                <li><a href="{{ url_for('contacte')}}">{{data.contacteF}}</a></li>
                <li><a href="{{ url_for('matricula')}}">{{data.matriculaF}}</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>{{data.concate2F}}</h3>
            <p>{{data.direccioF}}</p>
            <p>{{data.tlfF}}</p>
            <p>{{data.emailF}}</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>{{data.dretsF}}</p>
    </div>
</footer>

<script>
    function getWeather() {
        var apiKey = '7f334206263064174ebd5c697d76ab7f';
        var apiUrl = 'https://api.openweathermap.org/data/2.5/weather?q=Cardedeu,es&units=metric&appid=' + apiKey;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                document.getElementById('weather').innerHTML = data.main.temp + '°C';
            })
            .catch(error => console.log('Error al obtener el tiempo:', error));
    }
    window.onload = getWeather;
</script>
