<footer>
    <div>
        <img class="imagenfooter" src="{{ url_for('static', filename='img/nombre-png.png') }}" alt="Mi Imagen">
        <h1 class="texto3">{{data.copyright}}</h1>
        <p class="texto3">{{data.privacidad}}</p>
        <div class="footer-lists">
            <ul class="footer-list">
                <h1 class="texto3">{{data.sobreNosotros}}</h1>
                <a class="texto3" href="{{ url_for('quienesSomos_esp')}}"><li>{{data.contacto}}</li></a>
                <a class="texto3" href="{{ url_for('quienesSomos_esp')}}"><li>{{data.quieneSomos}}</li></a>
                <a class="texto3" href="{{ url_for('pagina1_esp') }}"><li>{{data.dondeEstamos2}}</li></a>
            </ul>

            <ul class="footer-list">
                <h1 class="texto3">{{data.escuelas}}</h1>
                <li class="texto3">{{data.tuEscuela}}</li>
                <li class="texto3">{{data.escuelas}}</li>
            </ul>

            <ul class="footer-list">
                <h1 class="texto3">{{data.informacion}}</h1>
                <a class="texto3" href="{{ url_for('avisolegal_esp') }}"><li>{{data.avisoLegal}}</li></a>
                <a class="texto3" href="{{ url_for('politicaPrivacidad_esp') }}"><li>{{data.politicaPrivacidad}}</li></a>
                <a class="texto3" href="{{ url_for('politicaCookies_esp') }}"><li>{{data.politicaCookies}}</li></a>
                <a class="texto3" href="{{ url_for('proteccionDatos_esp')}}"><li>{{data.proteccionDatos}}</li></a>
            </ul>
        </div>
    </div>
</footer>