<body>
    <header>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">{{data.iniciH}}</a></li>
                    <li><a href="{{ url_for('escola')}}">{{data.escolaH}}</a></li>
                    <li><a href="{{ url_for('contacte')}}">{{data.contacteH}}</a></li>
                    <li><a href="{{ url_for('matricula')}}">{{data.matriculaH}}</a></li>
                    <li class="languages">
                        <a href="{{ url_for('set_language', lang='ca') }}">{{data.caH}}</a> |
                        <a href="{{ url_for('set_language', lang='en') }}">{{data.enH}}</a> |
                        <a href="{{ url_for('set_language', lang='es') }}">{{data.esH}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>

<script>
    window.addEventListener('scroll', function() {
    var header = document.querySelector('header');
    header.style.transform = 'translateY(' + window.scrollY + 'px)';
});
</script>