<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <img class="imagen2" src="{{ url_for('static', filename='img/nombre-png.png') }}" alt="Mi Imagen">

    <div class="slider-container">
        <div class="slider">
            <div><img class="imagen-carrusel" src="{{ url_for('static', filename='img/foto1.jpg') }}" alt=""></div>
            <div><img class="imagen-carrusel" src="{{ url_for('static', filename='img/foto2.jpg') }}" alt=""></div>
            <div><img class="imagen-carrusel" src="{{ url_for('static', filename='img/foto3.jpg') }}" alt=""></div>
            <div><img class="imagen-carrusel" src="{{ url_for('static', filename='img/foto4.jpg') }}" alt=""></div>
        </div>
    </div>

    <h1 class="texto">{{data.calendario}}</h1>
    
    <img class="imagen_calendario" src="{{ url_for('static', filename='img/calendario-imagen.png')}}" alt="">
    
    <h1 class="texto">{{data.dondeEstamos}}</h1>
    <p class="texto2">{{data.infoDondeEstamos}}</p>
    <div class="mydiv">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.648306779668!2d2.3574667759318344!3d41.64173277126877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4c93f3379da83%3A0x91124508f221eb6f!2zVMOgdml0!5e0!3m2!1ses!2ses!4v1705679746445!5m2!1ses!2ses" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slider').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                dots: false,
            });
        });
    </script>
</body>
</html>
