<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <h1 class="textoInformacion">{{data.cookies}}</h1>
    <p class="textoInformacion_2">{{data.texto1}}</p>
    <h2 class="textoInformacion">{{data.queSon}}</h2>
    <p class="textoInformacion_2">{{data.texto2}}</p>
    <h2 class="textoInformacion">{{data.tipos}}</h2>
    <p class="textoInformacion_2">{{data.texto3}}</p>
    <h2 class="textoInformacion">{{data.comoUtilizar}}</h2>
    <p class="textoInformacion_2">{{data.texto4}}</p>
    <h2 class="textoInformacion">{{data.gestion}}</h2>
    <p class="textoInformacion_2">{{data.texto5}}</p>
    <h2 class="textoInformacion">{{data.cambios}}</h2>
    <p class="textoInformacion_2">{{data.texto6}}</p>
    <h2 class="textoInformacion">{{data.contacto2}}</h2>
    <p class="textoInformacion_2">{{data.texto7}}</p>


    {% include 'footer.html' %}
</body>
</html>