<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <h1 class="texto">{{data.quienesSomos2}}</h1>
    <p class="texto2">{{data.informacion1}}</p>
    <p class="texto2">{{data.informacion2}} <b>{{data.informacion3}}</b> {{data.informacion4}} <b>{{data.informacion5}}</b> {{data.informacion6}} <b>{{data.informacion7}}</b> {{data.informacion4}} <b>{{data.informacion8}}</b></p>

    {% include 'footer.html' %}
</body>
</html>