<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    
    <h1 class="texto">{{data.registro2}}</h1>
    <div class="register">
        <p class="texto4">{{data.info}}</p>
        <p class="texto4">{{data.nombre}}</p>
        <input class="escribirtexto" type="nombre">
        <p class="texto4">{{data.apellido}}</p>
        <input class="escribirtexto" type="apellido">
        <p class="texto4">{{data.correo}}</p>
        <input class="escribirtexto" type="correo">
        <p class="texto4">{{data.domicilio}}</p>
        <input class="escribirtexto" type="domicilio">
        <p class="texto4">{{data.telefono}}</p>
        <input class="escribirtexto" type="telefono">
        <p class="texto4">{{data.info2}}</p>
        <p class="texto4">{{data.nombreHijo}}</p>
        <input class="escribirtexto" type="nombreHijo">
        <p class="texto4">{{data.apellidoHijo}}</p>
        <input class="escribirtexto" type="apellidoHijo">
        <p class="texto4">{{data.edad}}</p>
        <input class="escribirtexto" type="edad">
        <p class="enviar">{{data.enviar}}</p>
    </div>
</body>
    {% include 'footer.html' %}
</html>
